body {background-color:light green}
h1, h2, h3, h4, h5, h6, p {
  font-family :Lucida Sans Unicode;
}
h1, h2, h3  {
  text-align: center;
}
nav {
  background-color: green;
}
  li{display:inline-block;}
nav li a  {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: orange;
}
#subaru {
  width: 600px;
  border: 2px solid #FFF;
  background-image: url("subaru.jpg");
  margin: auto;
  padding: 1px;
}
img not #subaru {
  margin: auto;
}
  nav li {
  text-align: center;
  }
  
