body {background-color:light green}
h1, h2, h3, h4, h5, h6, p {
  font-family :Lucida Sans Unicode;
}
h1, h2, h3  {
  text-align: center;
}
nav {
  background-color: green;
}
li  {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: orange;
}
#subaru {
  width: 300px;
  border: 2px solid #FFF;
}
img not #subaru {
  margin: auto;
}
/* commits made by cats (please remove in pull requests)*/
